.nAddProject {
    box-sizing: border-box;
    padding: var(--padding-super-large);
    display: flex;
    background-color: #F4F4F4;
}

.nAddProject>div:first-child{
    flex: 1;
}

.nAddProject>div:last-child {
    flex: 2;
}

.nAddProjectInfo {
    display: flex;
    flex-direction: column;
}

.heading{
    flex: 1;
}

.mheading {
    display: none;
}

.contact>div:nth-child(2) {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

}

.nAddProjectControl {
    min-height: var(--min-height);
    background-color: var(--white);
    box-shadow: var(--shadow);
    box-sizing: border-box;
    padding-bottom: 100px;
}

.form{
    padding: var(--padding-large);
    min-height: 700px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

/*  */

.formGroup>input, .formGroup>.input, .formGroup>textarea {
    padding: 12px;
    margin-top: 8px;
    border: 2px solid var(--grey);
    /* border-radius: 5px; */
    font-size: 14px;
    transition: all ease-in-out .15s;
}

.formGroup>.input {
    cursor: pointer;
    display: flex;
    padding: 0px;
    align-items: center;
}

.formGroup>.input>.inputBtn {
    background-color: #f4f4f4;
    color: grey;
    padding: 14px;
}

.formGroup>.input>.inputText {
    flex: 1;
    margin-left: var(--margin-super-small);
}

.formGroup>input:focus, .formGroup>.input:hover, .formGroup>textarea:focus {
    border-color: var(--box-in-color);
    outline: none;
    box-shadow: 0 0 0 .2rem var(--box-out-color);
}

.fileInput {
    display: none;
}

.formGroup>select {
    padding: 12px;
    margin-top: 8px;
    border: 2px solid var(--grey);
    font-size: 14px;
    transition: all ease-in-out .15s;
}

.formGroup>select:focus {
    border-color: var(--box-in-color);
    outline: none;
    box-shadow: 0 0 0 .2rem var(--box-out-color);
}

.formGroup>input {
    margin-top: var(--margin-super-small);
}

.formGroup + .formGroup {
    margin-top: var(--margin-medium);
}

.formGroup:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dropdown {
    padding: 12px;
    margin-top: 8px;
    border: 2px solid var(--grey);
    /* border-radius: 5px; */
    font-size: 14px;
    transition: all ease-in-out .15s;
    display: flex;
    align-items: center;
}

.dropdown:hover {
    border-color: var(--box-in-color);
    outline: none;
    box-shadow: 0 0 0 .2rem var(--box-out-color);
}

.dropdown>input {
    outline: none;
    border: none;
    flex: 1;
    max-width: 97%;
}

.selectSearch {
    position: relative;
}

.dropdownBox {
    min-height: 128px;
    padding: var(--padding-small);
    /* border-radius: 5px; */
    border: 2px solid var(--grey);
    overflow: scroll;
    max-height: 400px;
    margin-top: var(--margin-super-small);
}

.checkBox {
    display: flex;
    align-items: center;
}

.checkBox>input {
    margin-right: var(--margin-super-small);
}

.hide {
    display: none;
}

/* Modal and cover */
.formCover {
    transform: translateY(100%);
    background-color: #0000007c;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 9998;
    align-items: center;
}

.showAnimation {
    animation: show .2s ease-in-out forwards;
}

@keyframes show {
    to {
        transform: translateY(0%);
    }
}

.formModal {
    background-color: var(--white);
    z-index: 9999;
    position: absolute;
    padding: var(--padding-small);
    /* border-radius: 15px; */
    box-shadow: var(--shadow);
    min-width: 300px;
}

.formModal>div:first-child {
    position: absolute;
    right: var(--padding-small);
    top: var(--padding-small);
    cursor: pointer;
}

/* Editor */
.formEditor {
    margin-bottom: var(--margin-super-small);
}

.editorName {
    display: flex;
    align-items: center;
    margin: var(--margin-super-small) 0;
    margin-top: var(--margin-medium);
}

.editorName>span{
    flex: 1;
}

.editorName>i {
    margin-left: var(--margin-super-small);
    cursor: pointer;
    padding: var(--padding-super-small);
    transition: opacity ease .2s;
}

.editorName>i:hover {
    opacity: 0.8;
}
/* Detail page */
.detail {
    padding: var(--padding-large);
    min-height: 600px;
}

.detailTitle{
    text-align: center;
}

.detailAuthor {
    text-align: center;
    font-size: 18px;
    color: var(--secondary);
}

.detailFields {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: var(--margin-super-small);
}

.detailItem + .detailItem{
    margin-left: var(--margin-super-small);
}

.detailItem {
    text-decoration: underline;
}

.detailKeyValues {
    margin: var(--margin-small) 0;
}

.detailKeyValues>div:first-child{
    font-weight: bold;
}

.detailControl {
    margin-top: var(--margin-large);
    display: flex;
    justify-content: flex-end;
}
/* Button */
.btn {
    background-color: black;
    color: white;
}

.btn {
    padding: var(--padding-super-small) var(--padding-small);
    font-weight: bold;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: opacity linear .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    opacity: 0.8;
}

.btn>i {
    margin-right: 8px;
}

.btn + .btn {
    margin-left: var(--margin-super-small);
}

.btnPrimary {
    background-color: black;
}

.btnSecondary {
    background-color: #9c9c9c;
    color: black;
}

.btnFeature {
    background-color: white;
    border: 3px solid #2D9E64;
    color: #2D9E64;
    text-align: center;
}
.primary {
    background-color: #0d47a1;
    color: white;
}

.submit {
    background-color: #2D9E64;
    color: white;
}

.reset {
    background-color: #dc3545;
    color: white;
}
/* Control */
.control {
    display: flex;
}

.controlAbove {
    display: flex;
    margin-bottom: var(--margin-super-small);
    justify-content: flex-end;
}

.controlAbove>.search, .controlAbove>.filter {
    padding: 12px;
    border: 2px solid #ced4da;
    /* border-radius: 5px; */
    font-size: 14px;
    transition: all ease-in-out .15s;
}

.search {
    display: flex;
    align-items: center;
}

.search>input {
    flex: 1;
    max-width: 97%;
    outline: none;
    border: none;
}

.controlAbove>.search:hover, .controlAbove>.filter:hover {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 .2rem #bfdeff;
}

.controlPart + .controlPart {
    margin-left: 8px;
}
/* set private for btn*/
.formModal .btn {
    margin-top: 10px;
    text-align: center;
}

.contact>a {
    font-weight: bold;
}

/* Form Control */
.formParent {
    position: relative;
}

.formControl {
    position: absolute;
    right: var(--padding-large);
    bottom: var(--padding-large);
    display: flex;
}

@media only screen and (max-width: 768px) {
    .form {
        padding: var(--padding-small);
    }

    .heading {
        display: none;
    }

    .mheading {
        display: block;
        padding: var(--padding-small);
    }

    .formControl {
        position: absolute;
        right: var(--padding-small);
        bottom: var(--padding-small);
        display: flex;
    }

    .nAddProject {
        flex-direction: column;
        padding: 0;
        background-color: var(--white);
    }

    .nAddProjectControl {
        box-shadow: none;
    }

    .nAddProjectPart + .nAddProjectPart {
        margin-top: var(--margin-medium);
    }
    
    .controlAbove {
        flex-direction: column;
    }

    
    .controlPart + .controlPart {
        margin-left: 0px;
        margin-top: var(--margin-super-small);
    }

    .control {
        flex-direction: column;
    }

    .cellBtn:first-child {
        margin-top: var(--margin-super-small)
    }

    .cellBtn:last-child {
        margin-bottom: var(--margin-super-small);
    }

    .cellBtn + .cellBtn {
        margin-left: 0;
        margin-top: var(--margin-super-small);
    }
}
