.intro {
    display: flex;
    padding: 48px;
    background-color: #F4F4F4;
}

.content {
    flex: 7;
    padding: var(--padding-large);
    background-color: white;
    box-shadow: var(--shadow);
}

.info {
    flex: 3;
}

@media only screen and (max-width: 600px) {
    .intro .content {
        overflow-x: scroll;
    }   
}

@media only screen and (max-width: 768px) {
    .info {
        display: none;
    }
    .intro {
        flex-direction: column;
        padding: var(--padding-small);
        background-color: white;
    }
    .content {
        padding: var(--padding-small);
        box-shadow: none;
    }
}
