.input {
    padding: 12px;
    margin-top: 8px;
    border: 2px solid var(--grey);
    font-size: 14px;
    transition: all ease-in-out .15s;
}

.input:focus {
    border-color: var(--box-in-color);
    outline: none;
    box-shadow: 0 0 0 .2rem var(--box-out-color);
}

.password {
    position: relative;
}

.password>input {
    display: block;
    width: 100%;
}

.toggle {
    top: 23px;
    right: 10px;
    color: var(--primary);
    cursor: pointer;
    position: absolute;
}