.auth {
    display: flex;
    padding: 48px;
    background-color: #f4f4f4;
    /* Center Image Background */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}

@media only screen and (max-width: 768px) {
    .auth {
        flex-direction: column;
    }

    .info {
        display: none;
    }
}

.info {
    flex: 6;
    opacity: 0;
}

.content {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    padding: 36px;
    flex: 4;
}

.title {
    text-align: center;
    margin-bottom: 24px;
}

/* Form Group */
.formGroup {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.formGroup>label {
    font-weight: bold;
}

.formGroup>input, .formGroup>.select {
    padding: 12px;
    margin-top: 8px;
    border: 2px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    transition: all ease-in-out .15s;
}

.formGroup>input:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 .2rem #bfdeff;
}

.link>span {
    text-decoration: underline;
    color: var(--link);
    transition: opacity ease .3s;
    cursor: pointer;
}

.link>span:hover {
    opacity: 0.8;
}

.forgot {
    display: flex;
    justify-content: flex-start;
}

.signup {
    display: flex;
    justify-content: center;
}

/* btn */
.btn {
    box-sizing: border-box;
    margin: 8px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity ease .3s;
    display: block;
    width: 100%;
    outline: none;
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

.submit {
    background-color: #2D9E64;
    color: white;
}

.reset {
    background-color: #dc3545;
    color: white;
}