@media (max-width: 576px) {
  .mp_projects {
    order: 1;
  }
}
.mk-card-horizontal img{
    width: 100%;
}
.mk-card-horizontal-field {
  list-style-type: none;
  display: inline-block;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
  white-space: nowrap;
  padding: 0;
}
.mk-card-horizontal-field::-webkit-scrollbar {
    width: 0 !important;
}
.mk-card-horizontal-field li {
  display: inline-block;
}
